.tamano:hover{
    transform: scale(1.17);
    transition: all 0.4s;
}

.boton_buscar:hover{
    background-color: grey;
    border-color: white;

}

.boton_buscar{
    border-color: grey;
    color: grey;
    border-radius: 20%;
}

.barrita{
    font-family: Silkscreen;

}